.cuestion-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuestion-container {
    width: 180px;
    height: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}

.display{
    width: 380px;
    height: 100px;
    padding: 2px;
    border: solid 2px;
}


#btnA,
#btnB,
#btnC,
#btnD{
    margin: 8px;
}

table{
    width: 100%;
}

table, th, td {

    border:1px solid black;
}

